<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <i class="mdi mdi-view-quilt menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/employee">
                <i class="mdi mdi-airplay menu-icon"></i>
                <span class="menu-title">Employee</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/device">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Device</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sys-device">
                <i class="mdi mdi-developer-board menu-icon"></i>
                <span class="menu-title">System Device</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/department">
                <i class="mdi mdi-vector-point menu-icon"></i>
                <span class="menu-title">Location</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/role">
                <i class="mdi mdi-account-convert menu-icon"></i>
                <span class="menu-title">Role</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/title">
                <i class="mdi mdi-account-box menu-icon"></i>
                <span class="menu-title">Title</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/absence-type">
                <i class="mdi mdi-account-alert menu-icon"></i>
                <span class="menu-title">Absence Type</span>
            </a>
        </li>
    </ul>
</nav>