<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <th:block th:include="fragments/header"></th:block>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <th:block th:include="fragments/nav"></th:block>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <!-- Modal starts -->
                        <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel-2" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel-2">Add new employee</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="forms-sample" th:action="@{~/addNewEmployee}" method="post">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Company</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="companyId">
                                                        <option th:each="company : ${company}"
                                                                th:value="${company.id}"
                                                                th:utext="${company.name}"/>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" id="username"
                                                       placeholder="Username" name="username">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" id="password"
                                                       placeholder="Password" name="password">
                                            </div>
                                            <div class="form-group">
                                                <label for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName"
                                                       placeholder="First Name" name="firstName">
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName"
                                                       placeholder="Last Name" name="lastName">
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Sex</label>
                                                <div class="col-sm-4">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input"
                                                                   name="sex" id="membershipRadios1"
                                                                   value="Male" checked="">
                                                            Male
                                                            <i class="input-helper"></i></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input"
                                                                   name="sex" id="membershipRadios2"
                                                                   value="Female">
                                                            Female
                                                            <i class="input-helper"></i></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <input type="text" class="form-control"
                                                       id="address" placeholder="Address" name="address">
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Phone Number</label>
                                                <input type="number" class="form-control"
                                                       id="phone" placeholder="Phone Number" name="phone">
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Role</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="role">
                                                        <option th:each="role : ${role}"
                                                                th:value="${role.id}"
                                                                th:utext="${role.roleName}"/>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Title</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="titleId">
                                                        <option th:each="title : ${title}"
                                                                th:value="${title.id}"
                                                                th:utext="${title.titleName}"/>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Status</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="status">
                                                        <option value="1">Active</option>
                                                        <option value="0">Inactive</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Ends -->
                        <div class="row no-padding-margin">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <div id="order-listing_wrapper"
                                         class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                        <div class="row no-padding-margin">
                                            <div class="col-sm-12">
                                                <div class="box-header-inline">
                                                    <h3>Employee List</h3>
                                                    <button type="button" class="btn btn-success btn-sm"
                                                            data-toggle="modal"
                                                            data-target="#exampleModal-2" style="margin-bottom: 10px">
                                                        Add
                                                        new<i
                                                            class="mdi mdi-play-circle ml-1"></i>
                                                    </button>
                                                </div>
                                                <table id="order-listing" class="table dataTable no-footer" role="grid"
                                                       aria-describedby="order-listing_info">
                                                    <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0"
                                                            aria-controls="order-listing" rowspan="1" colspan="1"
                                                            aria-sort="ascending"
                                                            aria-label="Order #: activate to sort column descending"
                                                            style="width: 55px;">Username
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="order-listing"
                                                            rowspan="1" colspan="1"
                                                            aria-label="Purchased On: activate to sort column ascending"
                                                            style="width: 100px;">Fisrt Name
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="order-listing"
                                                            rowspan="1" colspan="1"
                                                            aria-label="Customer: activate to sort column ascending"
                                                            style="width: 72px;">Last Name
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="order-listing"
                                                            rowspan="1" colspan="1"
                                                            aria-label="Ship to: activate to sort column ascending"
                                                            style="width: 53px;">Sex
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="order-listing"
                                                            rowspan="1" colspan="1"
                                                            aria-label="Base Price: activate to sort column ascending"
                                                            style="width: 78px;">Address
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="order-listing"
                                                            rowspan="1" colspan="1"
                                                            aria-label="Purchased Price: activate to sort column ascending"
                                                            style="width: 117px;">Phone
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="order-listing"
                                                            rowspan="1" colspan="1"
                                                            aria-label="Status: activate to sort column ascending"
                                                            style="width: 61px;">Role
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="order-listing"
                                                            rowspan="1" colspan="1"
                                                            aria-label="Status: activate to sort column ascending"
                                                            style="width: 61px;">Status
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="order-listing"
                                                            rowspan="1" colspan="1"
                                                            aria-label="Actions: activate to sort column ascending"
                                                            style="width: 60px;">Actions
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr role="row" class="odd" th:each="employee : ${employee}">
                                                        <td class="sorting_1"
                                                            th:text="${employee.account.username}"></td>
                                                        <td th:text="${employee.firstName}"></td>
                                                        <td th:text="${employee.lastName}"></td>
                                                        <td th:text="${employee.sex}"></td>
                                                        <td th:text="${employee.address}"></td>
                                                        <td th:text="${employee.phone}"></td>
                                                        <td th:text="${employee.account.role.roleName}"></td>
                                                        <td th:text="${employee.account.status}"
                                                            class="employeeStatus"></td>
                                                        <td>
                                                            <a th:href="@{/employeeDetail?id={id}(id=${employee.account.id})}"
                                                               class="badge badge-pill badge-success w-10px"
                                                               style="margin-bottom: 5px">
                                                                <i class="fa fa-info"></i>
                                                            </a>
                                                            <a th:href="@{/removeEmployee?id={id}(id=${employee.account.id})}"
                                                               class="badge badge-pill badge-danger w-10px">
                                                                <i class="fa fa-close"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:include="fragments/footer"></th:block>
            <!-- Custom js for this page-->
            <script src="/js/data-table.js"></script>
            <script src="/js/alerts.js"></script>
            <script src="/js/avgrund.js"></script>
            <script th:inline="javascript">
                $(document).ready(function () {
                    var status = $('.employeeStatus');
                    for (var i = 0; i < status.length; i++) {
                        var textStatus = status[i].innerHTML;
                        var change;
                        if (textStatus === '0') {
                            change = textStatus.replace('0', '<span class="badge badge-danger badge-pill">Inactive</span>');
                        } else if (textStatus === '1') {
                            change = textStatus.replace('1', '<span class="badge badge-success badge-pill">Active</span>');
                        }
                        status[i].innerHTML = change;
                    }

                });
            </script>
</body>
</html>